$purple: #9356DC;
$pink: #FF79DA;
$green: #99E2D0;
$title-fonts: 'Shrikhand', cursive;
$text-fonts: 'Roboto', sans-serif;
$light-gray: rgb(240, 240, 240);
$dark-gray:  rgb(46, 45, 45);
$shadow:  0px 0px 15px rgba(188, 188, 188, 0.7);
 



html {
max-width: 768px;
}




header {

     width: 100%;
     height: 55px;
     margin-left:-10px;
     margin-top: -10px;
     display: flex;
    justify-content: center;
    
    

img{
    align-items: center;
    width: 200px;
    height: 35px;
    padding-top: 10px;
    position: relative;


}

}




.location {

     width: 100%;
     margin-left: -10px;
     height: 40px;
     display: flex;
    
    background-color: rgb(227, 227, 227);
    box-shadow: 0px 0px 10px rgba(168, 168, 168, 0.9);

     h3 {
        margin-top: 1px;
        font-family: $text-fonts;
        font-weight: 400;
        padding-top: 5px;
        margin: 0 auto;
        
     }
    
}




.intro {


    width: 100%;
    margin: -10px;
    height: 370px;
    font-family: $text-fonts;
    background-color: $light-gray;
    margin-top: -27px;
    box-shadow: $shadow;
    
h2{
     display: flex;
    justify-content: center;
    font-size:xx-large;
    padding-top: 40px;
    
    }

    p{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        font-size: 25px;
        font-weight: 200;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        
        

        
    }

   button {
        margin-left: 27%;
        font-family: $text-fonts;
        font-weight: 400;
        height: 70px;
        width: 270px;
        font-size: 20px;
        margin-top: 40px;
        border-radius: 30px 30px 30px 30px;
        color: white;
        background: linear-gradient(to bottom right, $pink, $purple);
        border: none;
        box-shadow: $shadow;

        a{
            color: white;
        }
        
    }
}


.howit {

    margin-left: 20px;
    font-size: 25px;
    margin-top: 60px;
    font-family: $text-fonts;


}


.howitworks {
    
    width: 100%;
    margin: -10px;
    height: 470px;
    font-family: $text-fonts;
    background-color: white;
    
 
   

    .how1{
        display: flex;
        justify-content: center;
        height: 45px;
        width: 90%;
        margin-left: 40px;
        margin-right: 8%;
        margin-top: 40px;
        border-radius: 20px 20px 20px 20px;
        border:  none;
        box-shadow: $shadow;
        padding-top: 20px;
        background-color: $light-gray;
        
    



        a {
            text-decoration: none;
            font-weight: 400;
            font-size: 20px;
            color: black;
            margin-left: -50px;
            transform: translateY(20px); 
        animation: fadeInUp 1s ease 0.3s forwards; 
        

            @keyframes fadeInUp {
                to {
                    opacity: 1;
                    transform: translateY(0); 
                }
            }
            

        }

        .number-emoji1 {
            position: absolute;
            top: 623px;
            left: 30px; 
            transform: translateY(-50%);
            font-size: 15px;
            color: white;
            background-color: $purple;
            border-radius: 50%;
            padding-top:5px;
            padding-bottom:5px;
            padding-left: 10px;
            padding-right:10px;
            text-decoration: none;
          }

          .mobile-emoji {

           
            top: 623px;
            left: 80px; 
            transform: translateY(-50%);
            font-size: 25px;

          }
    }



    .how2{
        display: flex;
        justify-content: center;
        height: 45px;
        width: 90%;
        margin-left: 40px;
        margin-right: 8%;
        margin-top: 20px;
        border-radius: 20px 20px 20px 20px;
        border:  none;
        box-shadow: $shadow;
        padding-top: 20px;
        background-color: $light-gray;


        a {
            text-decoration: none;
            font-weight: 400;
            font-size: 20px;
            color: black;
            margin-left: -60px;
            transform: translateY(20px); 
        animation: fadeInUp 1s ease 0.3s forwards; 
        

            @keyframes fadeInUp {
                to {
                    opacity: 1;
                    transform: translateY(0); 
                }
            }

        }

        .number-emoji2 {
            position: absolute;
            top: 712px;
            left: 30px; 
            transform: translateY(-50%);
            font-size: 14px;
            color: white;
            background-color: $purple;
            border-radius: 50%;
            padding-top: 5px;
            padding-bottom:5px;
            padding-left: 9px;
            padding-right:9px;
            text-decoration: none;
          }

          .list-emoji {

        
            top: 712px;
            left: 80px; 
            transform: translateY(-50%);
            font-size: 25px;

          }
    }

    .how3{
        display: flex;
        justify-content: center;
        height: 45px;
        width: 90%;
        margin-left: 40px;
        margin-right: 8%;
        margin-top: 20px;
        border-radius: 20px 20px 20px 20px;
        border: none;
        box-shadow: $shadow;
        padding-top: 20px;
        background-color: $light-gray;


        a {
            text-decoration: none;
            font-weight: 400;
            font-size: 20px;
            color: black;
            margin-left: -30px;
            transform: translateY(20px); 
            animation: fadeInUp 1s ease 0.3s forwards; 
        

            @keyframes fadeInUp {
                to {
                    opacity: 1;
                    transform: translateY(0); 
                }
            }

        }

        .number-emoji3 {
            position: absolute;
            top: 800px;
            left: 30px; 
            transform: translateY(-50%);
            font-size: 14px;
            color: white;
            background-color: $purple;
            border-radius: 50%;
            padding-top: 5px;
            padding-bottom:5px;
            padding-left: 9px;
            padding-right:9px;
            text-decoration: none;
          }

          .store-emoji {

            top: 800px;
            left: 300px; 
            transform: translateY(-50%);
            font-size: 25px;

          }
    }


}

a{
    text-decoration: none;
    color: black;
}

.restaurants{

    width: 100%;
    margin: -10px;
    height: 1700px;
    font-family: $text-fonts;
    background-color: $light-gray;
    margin-top: -100px;
    opacity: 0; 
        transform: translateY(20px); 
        animation: fadeInUp 1s ease 0.3s forwards; 
        

            @keyframes fadeInUp {
                to {
                    opacity: 1;
                    transform: translateY(0); 
                }
            }

    h1{
        margin-left: 5%;
        font-size: xx-large;
        padding-top: 30px;

    }


}




    .thefullpalette {

        
        margin-top: 20px;
        width: 90%;
        margin-left: 5%;
        border-radius:  25px 25px 25px 25px;
        height: 350px;
        background-color: white;
        box-shadow: $shadow;
        position: relative;
        
        img{
            width: 100%;
           overflow: hidden;
           height: 250px;
           object-fit: cover;
           border-radius:  25px 25px 0px 0px;
            
        }

        h2{

            margin-top: 10px;
            margin-left: 15px;
  
          }

  
  
          p{
              margin-top: -35px;
              margin-left: 17px;
              font-size: larger;
              font-weight: 300;
          }
        
        
    }



.like1 {

    margin-left: 85%;
    height: 50px;
    width: 50px;
    margin-top: -30px;
    
    .heart1 {
       
        
        margin-left: 1px;
        margin-top: 5px;
        width: 51px;
        height: 50px;
        position: absolute;
        -webkit-clip-path: path('M3,8 A6,6,0,0,1,18,8 A6,6,0,0,1,33,8 Q33,16,18,24 Q3,16,3,8 Z');

        .box1 {

            width: 40px;
            height: 30px;
            margin-top: 30px;
            margin-right: 10px;
            transition: transform 2s ease;
            background: linear-gradient(to bottom right, $pink, $purple);
           
        }
        
       
       
            
        } 
        
        svg {
            margin-left: 1px;
            margin-top: 1px;
            fill: none;
            stroke: black;
            stroke-width: 3px;
            height: 35px;
            width: 36.5px;
            position: absolute;
        
          
          }  

   
        }



    svg:hover {

        opacity: 1;
    }


    .like1:hover .box1 {
        transform: translateY(-35px); 
        
    }
     





    .theenchantedplate {

        background-color: white;
        box-shadow: $shadow;
        margin-top: 20px;
        width: 90%;
        margin-left: 5%;
        border-radius:  25px 25px 25px 25px;
        height: 350px;
        
    

        img{
            width: 100%;
           overflow: hidden;
           height: 250px;
           object-fit: cover;
           border-radius:  25px 25px 0px 0px;
           
            
            
        }

        h2{

            margin-top: 10px;
            margin-left: 15px;
  
          }

  
  
          p{
              margin-top: -35px;
              margin-left: 17px;
              font-size: larger;
              font-weight: 300;
          }

        }
    

        .like2 {

            margin-left: 85%;
            height: 50px;
            width: 50px;
            margin-top: -30px;
            
            .heart2 {
               
                
                margin-left: 1px;
                margin-top: 5px;
                width: 51px;
                height: 50px;
                position: absolute;
                -webkit-clip-path: path('M3,8 A6,6,0,0,1,18,8 A6,6,0,0,1,33,8 Q33,16,18,24 Q3,16,3,8 Z');
        
                .box2 {
        
                    width: 40px;
                    height: 30px;
                    margin-top: 30px;
                    margin-right: 10px;
                    transition: transform 2s ease;
                    background: linear-gradient(to bottom right, $pink, $purple);
                   
                }
                
               
               
                    
                } 
                
                svg {
                    margin-left: 1px;
                    margin-top: 1px;
                    fill: none;
                    stroke: black;
                    stroke-width: 3px;
                    height: 35px;
                    width: 36.5px;
                    position: absolute;
                
                  
                  }  
        
           
                }
        
        
        
            svg:hover {
        
                opacity: 1;
            }
        
        
            .like2:hover .box2 {
                transform: translateY(-35px); 
                
            }


    

    .bastille {

        background-color: white;
        box-shadow: $shadow;
        margin-top: 20px;
        width: 90%;
        margin-left: 5%;
        border-radius:  25px 25px 25px 25px;
        height: 350px;
        
    

        img{
            width: 100%;
           overflow: hidden;
           height: 250px;
           object-fit: cover;
           border-radius:  25px 25px 0px 0px;
           
            
            
        }

        h2{

            margin-top: 10px;
            margin-left: 15px;
  
          }

  
  
          p{
              margin-top: -35px;
              margin-left: 17px;
              font-size: larger;
              font-weight: 300;
          }


        }

        .like3 {

            margin-left: 85%;
            height: 50px;
            width: 50px;
            margin-top: -30px;
            
            .heart3 {
               
                
                margin-left: 1px;
                margin-top: 5px;
                width: 51px;
                height: 50px;
                position: absolute;
                -webkit-clip-path: path('M3,8 A6,6,0,0,1,18,8 A6,6,0,0,1,33,8 Q33,16,18,24 Q3,16,3,8 Z');
        
                .box3 {
        
                    width: 40px;
                    height: 30px;
                    margin-top: 30px;
                    margin-right: 10px;
                    transition: transform 2s ease;
                    background: linear-gradient(to bottom right, $pink, $purple);
                   
                }
                
               
               
                    
                } 
                
                svg {
                    margin-left: 1px;
                    margin-top: 1px;
                    fill: none;
                    stroke: black;
                    stroke-width: 3px;
                    height: 35px;
                    width: 36.5px;
                    position: absolute;
                
                  
                  }  
        
           
                }
        
        
        
            svg:hover {
        
                opacity: 1;
            }
        
        
            .like3:hover .box3 {
                transform: translateY(-35px); 
                
            }

    .legourmand {

        background-color: white;
        box-shadow: $shadow;
        margin-top: 20px;
        width: 90%;
        margin-left: 5%;
        border-radius:  25px 25px 25px 25px;
        height: 350px;
        
    

        img{
            width: 100%;
           overflow: hidden;
           height: 250px;
           object-fit: cover;
           border-radius:  25px 25px 0px 0px;
           
            
            
        }

        h2{

            margin-top: 10px;
            margin-left: 15px;
  
          }

  
  
          p{
              margin-top: -35px;
              margin-left: 17px;
              font-size: larger;
              font-weight: 300;
          }

    }

    .like4 {

        margin-left: 85%;
        height: 50px;
        width: 50px;
        margin-top: -30px;
        
        .heart4 {
           
            
            margin-left: 1px;
            margin-top: 5px;
            width: 51px;
            height: 50px;
            position: absolute;
            -webkit-clip-path: path('M3,8 A6,6,0,0,1,18,8 A6,6,0,0,1,33,8 Q33,16,18,24 Q3,16,3,8 Z');
    
            .box4 {
    
                width: 40px;
                height: 30px;
                margin-top: 30px;
                margin-right: 10px;
                transition: transform 2s ease;
                background: linear-gradient(to bottom right, $pink, $purple);
               
            }
            
           
           
                
            } 
            
            svg {
                margin-left: 1px;
                margin-top: 1px;
                fill: none;
                stroke: black;
                stroke-width: 3px;
                height: 35px;
                width: 36.5px;
                position: absolute;
            
              
              }  
    
       
            }
    
    
    
        svg:hover {
    
            opacity: 1;
        }
    
    
        .like4:hover .box4 {
            transform: translateY(-35px); 
            
        }




footer {

    background-color: $dark-gray;
    width: 100%;
    margin-bottom: -10px;
    margin-left: -10px;
    height: 250px;
    margin-top: -40px;

    h1{
        font-family: $title-fonts;
        color: white;
        font-size:30px;
        margin-left: 5%;
        font-weight: 300;
        padding-top: 25px;
    }

    .suggestarestaurant{

         a{
        text-decoration: none;
        color: white;
        font-family: $text-fonts;
        margin-left: 5%;
    }

}

    .becomeapartner{

        margin-top: 10px;

        a{
       text-decoration: none;
       color: white;
       font-family: $text-fonts;
       margin-left: 5%;
   }
}

.help{

    margin-top: 10px;

    a{
   text-decoration: none;
   color: white;
   font-family: $text-fonts;
   margin-left: 5%;
   font-weight: 300;
}

}


.contact{
    
    margin-top: 10px;

    a{
   text-decoration: none;
   color: white;
   font-family: $text-fonts;
   margin-left: 5%;
   font-weight: 300;

}

}


}






















@media screen and (min-width: 769px){

    html {
    max-width: 1400px;
    
     }


     header {

        display: flex;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        height: 100px;
     }

     img{
       

        margin: 0 auto;
    
    
    }


    .location{

        margin: 0 auto;
        width: 90%;
 h3{
    margin: 0 auto;
 }
    
    }

    .intro{

        margin: 0  auto;
        width: 90%;
        height: 425px;
        margin-top: -23px;
        justify-content: center;
    

        button{

            margin-left: 38%;
           
            
        }
    }


    

 .howit{

    width: 300px;
    height: 50px;
    font-family: $text-fonts;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px
 }


 .howitworks {
    
      
       margin-top: 50px;
       width: 90%;
       margin: 0 auto;
       margin-top: 40px;

.how1 {

    width: 60%;
    margin: 0 auto;
    margin-top: 35px;
    a {

        font-weight: 400;
        font-size: 25px;
    }

    .number-emoji1{

        left:20%;
        transform: translateY(240%);
        font-size: 25px;
        border-radius: 50%;
        padding-left: 15px;
        padding-right:15px;
        
    }

    .mobile-emoji{
        margin-right: -40px;
        transform: translateY(240%);
        font-size: 35px;

    }
}

.how2 {

    width: 60%;
    margin: 0 auto;
    margin-top: 35px;
    a {

        font-weight: 400;
        font-size: 25px;
    }

    .number-emoji2{

        left:20%;
        transform: translateY(260%);
        font-size: 25px;
        border-radius: 50%;
        padding-left: 15px;
        padding-right:15px;
        
    }

    .list-emoji{
        margin-right: -40px;
        transform: translateY(260%);
        font-size: 35px;

    }
}

.how3 {

    width: 60%;
    margin: 0 auto;
    margin-top: 35px;
    a {

        font-weight: 400;
        font-size: 25px;
    }
    .number-emoji3{

        left:20%;
        transform: translateY(290%);
        font-size: 25px;
        border-radius: 50%;
        padding-left: 15px;
        padding-right:15px;
        
    }

    .store-emoji{
        margin-right: -45px;
        transform: translateY(260%);
        font-size: 35px;

    }
}


 }


.restaurants {

    
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    height: 2800px;
    margin-top: -60px;

    h1 {

        font-size: 30px;
    }


    .thefullpalette {

        width:90%;
        height: 600px;
        margin: 0 auto;
        margin-top: 50px;

        img{

            height: 500px;
        }
    }

    .theenchantedplate {
    width:90%;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;

    img{

        height: 500px;
    }
}

    .bastille{
    width:90%;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    

    img{

        height: 500px;
    }
}

    .legourmand{
        width:90%;
        height: 600px;
        margin: 0 auto;
        margin-top: 50px;
    
        img{
    
            height: 500px;
        }
    }
}


footer {

    width: 90%;
    margin: 0 auto;
    margin-top: -30px;
}







}

